section.calculation-section
  .wrapper
    .calculation-section__container
      h2.calculation-section__title.font-s-60
        | Сколько вы будете
        br
        span.font-w-semi-bold.color-gold-d4 зарабатывать?
      .calculation-section__custom-select.custom-select
        #select-header.calculation-section__select-header
          span#selected-option.font-s-22 Выберите формат:
          img.calculation-section__select-icon(src="images/select-icon.svg" loading="lazy" width="24" height="13" alt="icon")
        ul#select-options.calculation-section__select-options
          li.font-s-20(data-value="500000") До 500 000 жителей
          li.font-s-20(data-value="1000000") До 1 000 000 жителей
          li.font-s-20(data-value="1000001") От 1 000 000 жителей
      .calculation-section__text.font-w-medium.font-s-24 Тяните бегунок и узнайте, какой будет ваша прибыль
      .calculation-section__custom-range
        .custom-range__track.calculation-section__custom-range-track
          .custom-range__progress.calculation-section__custom-range-progress
          .custom-range__thumb.calculation-section__custom-range-thumb
      .calculation-section__months.font-s-18
        span 3
        span 6
        span 9
        span 12
        span 15
        span 18
        span 21
        span 24
      .calculation-section__block-result
        span.font-w-medium.font-s-32 Результат:
        span.font-w-medium.font-s-60-a.color-gold-d4
          span#result 0
          span  ₽
