section.preview-section
  .wrapper
    .preview-section__container
      h2.preview-section__title.font-w-s-regular.font-s-68 Так проходят занятия в школе «ЯРИС»
      .swiper-bullet
        .preview-section__cards.swiper-wrapper
          .preview-section__card.swiper-slide
            img.preview-section__img(src="images/preview-section-img-1.jpg" loading="lazy" width="760" height="760" alt="image")
          .preview-section__card.swiper-slide
            img.preview-section__img(src="images/preview-section-img-2.jpg" loading="lazy" width="760" height="760" alt="image")
          .preview-section__card.swiper-slide
            img.preview-section__img(src="images/preview-section-img-3.jpg" loading="lazy" width="760" height="760" alt="image")
          .preview-section__card.swiper-slide
            img.preview-section__img(src="images/preview-section-img-4.jpg" loading="lazy" width="760" height="760" alt="image")
          .preview-section__card.swiper-slide
            img.preview-section__img(src="images/preview-section-img-5.jpg" loading="lazy" width="760" height="760" alt="image")
          .preview-section__card.swiper-slide
            img.preview-section__img(src="images/preview-section-img-6.jpg" loading="lazy" width="760" height="760" alt="image")
        .bullet-pagination
      img.preview-section__icon(src="images/preview-section-icon.svg" loading="lazy" width="261" height="261" alt="image")
