section.steps-section
  .wrapper
    .steps-section__container
      h2.steps-section__title.font-w-s-regular.font-s-68
        | Узнайте, как открыть вашу 
        br.no-br
        | школу по франшизе 
        span.color-blue за 2 месяца
      .swiper-bullet
        .steps-section__cards.swiper-wrapper
          .steps-section__card.swiper-slide
            .steps-section__card-num.font-w-s-regular.font-s-32 ШАГ 01
            .steps-section__card-text.font-w-bold.font-s-18
              | Заключение договора
              br
              | франшизы
          .steps-section__card.swiper-slide
            .steps-section__card-num.font-w-s-regular.font-s-32 ШАГ 02
            .steps-section__card-text.font-w-bold.font-s-18
              | Поиск помещения и
              br
              | заключение договора аренды
          .steps-section__card.swiper-slide
            .steps-section__card-num.font-w-s-regular.font-s-32 ШАГ 03
            .steps-section__card-text.font-w-bold.font-s-18
              | Ремонт и оформление
              br
              | помещения
          .steps-section__card.swiper-slide
            .steps-section__card-num.font-w-s-regular.font-s-32 ШАГ 04
            .steps-section__card-text.font-w-bold.font-s-18
              | Поиск персонала
          .steps-section__card.swiper-slide
            .steps-section__card-num.font-w-s-regular.font-s-32 ШАГ 05
            .steps-section__card-text.font-w-bold.font-s-18
              | Формирование первичных запасов
              br
              | товара и расходных материалов
          .steps-section__card.swiper-slide
            .steps-section__card-num.font-w-s-regular.font-s-32 ШАГ 06
            .steps-section__card-text.font-w-bold.font-s-18
              | Обучение
              br
              | персонала
          .steps-section__card.swiper-slide
            .steps-section__card-num.font-w-s-regular.font-s-32 ШАГ 07
            .steps-section__card-text.font-w-bold.font-s-18
              | Официальное
              br
              | открытие
        .bullet-pagination.bullet-pagination--left
      .steps-section__bottom
        .font-w-semi-bold.font-s-20-a
          | Работаем строго по договору, 
          br
          | в котором описаны наши обязанности 
          br
          | и все условия сотрудничества
        button.btn.steps-section__btn(data-remodal-target="modal-form-agreement") скачать пример договора
      img.steps-section__img(src="images/steps-section-img.png" loading="lazy" width="908" height="1162" alt="image")
      img.steps-section__icon(src="images/steps-section-icon.png" loading="lazy" width="514" height="184" alt="icon")
