section.thanks-section
  .wrapper
    .thanks-section__container
      h1.thanks-section__title.font-w-s-regular.font-s-68
        | НАШИ МЕНЕДЖЕРЫ УЖЕ ЗАНИМАЮТСЯ 
        br
        | ВАШЕЙ ЗАЯВКОЙ
      p.thanks-section__inner-text.font-w-bold.font-s-36
        | Мы свяжемся с Вами в ближайшее время
      a.btn(href="index.html") Вернуться на главную
