.bullet-pagination
  display: flex
  flex-direction: row
  justify-content center
  align-items: center
  margin 15px 0
  +above($breakpoints.sm)
    display: none
  &--left
    justify-content start
  &--right
    justify-content flex-end

  .swiper-pagination-bullet
    background-color $color-bullet
    width: 10px
    height: 3px
    border-radius: 3px
    opacity: 1
    position relative
  .swiper-pagination-bullet-active
    transform: scale(1.5)
    transition transform 0.8s
    background-color: $color-bullet-active
